$padding: 1.4rem 2rem ;
$btn-font: 'Big Shoulders Display', cursive;
$text-color: #fff;
$timeColor: rgba(151, 56, 172, 1);
$font-family: verdana;
$font-weight: (
    'bold': 590,
    'medium': 700,
    'regular': 400
);

@mixin for-mobile {
    @media (max-width: 537px){
        @content; 
    }
}
@mixin for-potrait {
    @media (min-width: 674px) {
        @content;
    }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    padding: $padding;
    font-family: $font-family;
    color: $text-color;
    @include for-mobile{
        padding: 1rem;
    }
        &>section {
            background: rgba(151, 56, 172, 0.7);
            min-height: 63vh;
            backdrop-filter: blur(60px);
            border-radius: 16px;
            padding: $padding;
                header .logo {
                    height: 25px;
                }
            @include for-mobile{
                min-height: 60vh;
            }
        }
        .main-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 3em;
            text-align: center;
                &>img {
                    height: 8em;
                    
                }
                h2 {
                    font-weight: map-get($font-weight , bold);
                    font-size: 1.8em;
                    @include for-mobile {
                        font-size: 1.5em;
                    }
                }
                button {
                    margin-top: 19.92px;
                }
                form {
                    margin-top: 10px;
                    input, button {
                        padding: 0.9em;
                        border-radius: 5px;
                        width: 20em;
                        outline: none;
                        border: none;
                        margin-right: 0;
                        @include for-mobile {
                            width: 12em;
                        }
                    }
                    button {
                        width: 9em;
                        margin-left: -11px;
                        background-color: #FFCA34;
                        border-radius:  0px 5px 5px 0px;
                        color: $text-color;
                        @include for-mobile {
                            width: 7em;
                            margin-left: -9px;
                        }
                    }
                }
        }
    // footer {
    //     color: $timeColor;
    //     .timeDiv {
    //         display: flex;
    //         justify-content: center;
    //         text-align: center;
    //             li {
    //                 list-style-type: none;
    //                 font-size: 5em;
    //             }
    //             .timeDash {
    //                 margin: 0 0.3em;
    //                 border-radius: 10px;
    //             }
    //         }
    //             h5 {
    //                 padding: 0em 1em;
    //                 font-size: 4em;
    //             }
                    
    //     .footerText {
    //         display: flex;
    //         justify-content: center;
    //         text-align: center;
    //         margin-left: 2rem;
    //         .daySpans {
    //             // padding-top: 15px;
    //             font-size: 20px;
    //             list-style-type: none;
    //             padding: 0 3em;
    //         }
    //         // .daySpans:first-child{
    //         //     margin-left: 10px;
    //         // }
    //     }
    //     // @include for-mobile {
    //     //     .timeDiv, .footerText{
    //     //         li{
    //     //             font-size: 2em;
    //     //         }
    //     //     }  
    //     //     .daySpans {
    //     //         list-style-type: none;
    //     //         padding: 0;
    //     //     }
    //     // }
        
    // }
    footer {
        color: $timeColor;
        margin-top: -1.3em;
            .timeDiv, .footerText {
                display: flex;
                justify-content: center;
                text-align: center;
                list-style-type: none;
                padding-left: 0;
            }
            .timeDiv {
                font-size: 2.3em;
                margin-left: 0;
                .timeDash {
                    margin: 0 0.3em;
                    border-radius: 10px;
                }
                ul{
                    text-align: center;
                }
            }
            .footerText {
                margin-top: -2em;
                // margin-left: 2.4em;
                    .daySpans {
                        font-size: 15px;
                        padding: 0 1.1em;
                        color: rgba(151, 56, 172, 0.5);
                            
                    }
            }
        @include for-potrait {
            .timeDiv{
                font-size: 3em;
                    .timeDash {
                        margin: 0 0.5em;
                    }
            }
            .footerText {
                margin-left: 30px;
                .daySpans {
                    font-size: 1.5em;
                }
            }
        }
    }
}