$padding: 1rem 2rem ;
$btn-font: 'Big Shoulders Display', cursive;
$text-color: #fff;
$timeColor: rgba(151, 56, 172, 1);
$font-family: "SF Pro", "verdana";
$font-weight: (
    'bold': 590,
    'medium': 700,
    'regular': 400,
    'light': 100
);
@font-face {
    font-family: "SF Pro";
    src: url(/dist/assets/sf-pro.ttf);
}

@mixin for-mobile {
    @media (max-width: 537px){
        @content; 
    }
}
@mixin for-potrait {
    @media (min-width: 674px) {
        @content;
    }
}
@mixin for-large {
    @media (min-width: 943px) {
        @content;
    }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}
main {
    padding: $padding;
    color: $text-color;
    // display: none;
    .banner{
        background-image: url('/dist/assets/overlay.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    @include for-mobile{
        padding: 1rem;
    }
        
        &>section {
            min-height: 63vh;
            backdrop-filter: blur(60px);
            border-radius: 16px;
            padding: $padding;
                header .logo {
                    height: 25px;
                }
            @include for-mobile{
                min-height: 60vh;
            }
        }
        .main-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 2.5em;
            text-align: center;
                &>img {
                    height: 8em;
                    @include for-mobile{
                        height: 7em;
                    }
                }
                h2 {
                    font-weight: map-get($font-weight , bold);
                    font-size: 1.8em;
                    @include for-mobile {
                        font-size: 1.5em;
                    }
                }
                h6 {
                    font-weight: map-get($font-weight, light);
                    margin: 0 auto;
                    @include for-potrait{
                        font-size: 0.85em;
                    }
                }
                button {
                    margin-top: 19.92px;
                        &:hover {
                            background-color: rgb(255, 183, 0);
                            transition: 1s ease-in-out;
                        }
                }
                form {
                    margin-top: 10px;
                    input, button {
                        padding: 0.9em;
                        border-radius: 5px;
                        width: 20em;
                        outline: none;
                        border: none;
                        margin-right: 0;
                        @include for-mobile {
                            width: 12em;
                        }
                    }
                    button {
                        width: 9em;
                        margin-left: -11px;
                        background-color: #FFCA34;
                        border-radius:  0px 5px 5px 0px;
                        color: $text-color;
                        @include for-mobile {
                            width: 7em;
                            margin-left: -9px;
                        }
                    }
                }
        }
        .bottomDiv {
            display: flex;
            margin-top: 4em;
            justify-content: center;
            align-items: center;
            
                div hr {
                    width: 5em;
                    background-color: #fff;
                }
                .launchDiv {
                    font-size: xx-small;
                    padding: 0px 8px;
                        h6 {
                            font-weight: map-get($font-weight, light);
                        }
                }
            @include for-potrait{
                margin-top: 6.5em;
                    .launchDiv {
                        font-size: small;
                    }
                    div hr {
                        width: 12em;
                    }
            }
            @include for-large {
                div hr {
                    width: 20em;
                }
            }

        }
    footer {
        color: $timeColor;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 1em;
        .timeDash {
            margin-top: -12px;
            font-size: 14px;
            margin-left: -2em;
        }
        .lastDash {
            padding-left: 2em;
        }
            .countFooter {
                display: flex;
                padding: 0 10px;
                    .timeSpace {
                       padding: 0 0 0 15px;  
                    }
            }
            
        @include for-potrait {
            .timeDash {
                margin-top: -12px;
                margin-left: -2em;
            }
            .countFooter {
                margin: 0 1em;
                    h2 {
                        font-size: 2.4em;
                    }
                    .timeSpace {
                        padding: 0 0.3em;
                        font-size: 2.4em;
                    }
            }
        }
    }
}
section.alertDiv {
    position: absolute;
    top: 30%;
    left: 1%;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: none;
    // min-width: 20vw;
    // min-height: 15vh;
        @include for-potrait {
            left: 18%;
        }
        @include for-large {
            left: 30%
        }
        .alertDivContent {
            display: flex;
            justify-content: center;
            text-align: center;
            color: #fff;
            border-radius: 16px;
            line-height: 1.5; 
            margin: auto;
            margin: 0 10px;
            background-image: url('/dist/assets/overlay.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            letter-spacing: 2px;
                h1 {
                    padding: 10px;
                }
            
        }
}